@import '@commitchange/commons.css';
@import '@commitchange/tooltip';
@import 'styles/colors';
@import 'styles/typography';
@import 'styles/console';
@import 'styles/nav';
@import 'styles/loader';

body {
  overflow: hidden;
}

.active { position: relative; }

.active:before { 
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: $blue-light; 
}

pre {
  overflow: auto;
  white-space: pre-wrap;      
  word-wrap: break-word;   
}

article {
  width: calc(100% - 300px);
  display: inline-block;
  overflow: auto;
  height: 100%;
}

input {
 border-color: #dbdbdb;
}

input:focus {
  border-color: $blue;
}

.font-size-09 {
  font-size: .9rem;
}

@media screen and (max-width: 600px) {
  nav,
  article {
    width: 100%;
  }

  article.p-2 {
    float: none;
    padding: 72px 1rem 1rem 1rem;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  }

  nav.showMenu {
    height: 100%;
  }

  nav header {
    padding: .5rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: white;
  }

  nav section {
    display: none;
    padding: 1rem .5rem 0 .5rem;
    background: white;
  }

  nav header hr { display: none; }

  nav a.title,
  nav .menu {
    display: table-cell;
    vertical-align: middle;
  }

  nav a.title { padding-left: .5rem; }

  nav header {
    display: table;
    width: 100%;
  }

  .menu {
    font-size: 20px;
    height: 32px;
    width: 32px;
    text-align: center;
    cursor: pointer;
  }

  .menu span { user-select: none; }

  nav .hamburger { display: initial; }

  nav .close { display: none; }

  nav.p-2 { padding: 0; }

  nav.showMenu .hamburger { display: none; }

  nav.showMenu .close { display: initial; }

  .showMenu section { display: block; }

  .showMenu {
    height: 100%;
    background: white;
  }
}


@media screen and (max-width: 480px) {
  nav header { padding: .25rem; }
  article.p-2 {
    padding: 62px .5rem .5rem .5rem;
  }
}


