@import '@commitchange/commons.css';
@import 'styles/console';
@import 'styles/nav';

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a,
button {
  color: #0092a7;
}

a:hover,
button:hover { 
  opacity: 0.8; 
}

.active,
.bg-blue--light { background: rgba(0, 146, 167, 0.1) }

.bg-blue { background: #0092a7; }

pre {
  overflow: auto;
  white-space: pre-wrap;      
  word-wrap: break-word;   
}

.mono { font-family: 'Roboto Mono', monospace; }

article {
  width: calc(100% - 300px);
  display: inline-block;
}

@media screen and (max-width: 600px) {
  nav,
  article {
    width: 100%;
  }

  .container article {
    padding-left: 0;
    float: none;
    padding-top: 62px;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  }

  nav header {
    padding: .5rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: white;
  }

  nav section {
    display: none;
    padding: 1rem .5rem 0 .5rem;
    background: white;
  }

  nav header hr { display: none; }

  nav a.title,
  nav .menu {
    display: table-cell;
    vertical-align: middle;
  }

  nav a.title { padding-left: .5rem; }

  nav header {
    display: table;
    width: 100%;
  }

  .menu {
    font-size: 20px;
    height: 32px;
    width: 32px;
    text-align: center;
    cursor: pointer;
  }

  .menu span { user-select: none; }

  nav .hamburger { display: initial; }

  nav .close { display: none; }

  nav.showMenu .hamburger { display: none; }

  nav.showMenu .close { display: initial; }

  .showMenu section { display: block; }

  .showMenu {
    height: 100%;
    background: white;
  }
}


@media screen and (max-width: 480px) {
  nav header { padding: .25rem; }

  .container article { padding-top: 52px; }
}


